# mlx_macos
.DS_Store
# minilibx-linux

### C ###

# Object files
objects/
libft/libft.a
libft/obj/
minilibx-linux/obj
mlx_macos/*.o
minilibx-linux/libmlx.a
mlx_macos/libmlx.a

# Executable
miniRT

# Debug files
*.dSYM/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# logs
*.log

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

## Clangd -- bear
.cache
compile_commands.json

# shell.nix
